[experiment]
log_scores_over_time=False
print_simlex=True

[data]

distributional_vectors = /home/yxin/research/projects/RetroGAN-DRD/data/cc.en.300.vecprefixed.txt

; lists with files containing antonymy and synonymy constraints should be inside square brackets, delimited by commas.
antonyms = [/home/yxin/research/projects/RetroGAN-DRD/retrogandeeprelationshipdiscovery/oovtest-0_75-sgd-lr-0_1/antonyms_reducedwith_0_75.txt]
synonyms = [/home/yxin/research/projects/RetroGAN-DRD/retrogandeeprelationshipdiscovery/oovtest-0_75-sgd-lr-0_1/synonyms_reducedwith_0_75.txt]

; if either types of constraints are not used, that can be specified as follows:
;antonyms = []
;synonyms = []

output_filepath=/home/yxin/research/projects/RetroGAN-DRD/retrogandeeprelationshipdiscovery/oovtest-0_75-sgd-lr-0_1//ar0_75cc.en.300.ar.vec

[hyperparameters]

attract_margin = 0.6
repel_margin = 0.0
batch_size = 50
l2_reg_constant = 0.000000001
max_iter = 5
    